body{
  background-color: hsla(0,0%, 80%, 1);
  overflow: hidden;
  margin: 0px;
}

canvas {
  /*border: 1px solid black;*/
  background-color: hsla(0,0%,100%, 1);
  position: absolute;
  /*top: 100px;
  left: 100px;*/
}

.title {
  position: absolute;
  top: 110px;
  left: 110px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  z-index: 1;
}

.swatch {
  cursor: pointer;
}
